@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

.card{
    background-color: white;
    width: 600px;
    border-radius: 10px;
}
.card > img{
    width: 100%;
    padding: 20px;
    border-radius: 30px;
}
.card > h1{
    padding-left: 20px;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}
.card > p{
    padding-left: 20px;
    font-family: "Outfit", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    padding-right: 20px;
}