.ingredients > h1{
    margin-left: 20px;
    margin-top: 15px;
    font-family: "Young-serif", serif;
    font-weight: 600;
    font-style: normal;
    color: hsl(14, 45%, 36%);
}
.ingredients > ul{
    margin-left: 40px;
    margin-top: 15px;
    font-family: "Outfit", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
}
.ingredients > ul> li{
    margin-top: 10px;
    margin-bottom: 20px;
}

.ingredients > ul > li::marker{
    color: hsl(14, 45%, 36%);
}
.ingredients > hr{
    margin: 20px;
}