.nutrition > h1{
    margin-left: 20px;
    margin-top: 15px;
    font-family: "Young-serif", serif;
    font-weight: 600;
    font-style: normal;
    color: hsl(14, 45%, 36%);
}
.nutrition > p{
    padding-left: 20px;
    font-family: "Outfit", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}
hr{
    margin: 20px;
}
.nutrition > .table1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nutrition > .table2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nutrition > .table3{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nutrition > .table4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
.nutrition > .table1 > .color{
    color: hsl(14, 45%, 36%);
    font-weight: 900;
} 
.nutrition > .table2 > .color{
    color: hsl(14, 45%, 36%);
    font-weight: 900;
} 
.nutrition > .table3 > .color{
    color: hsl(14, 45%, 36%);
    font-weight: 900;
} 
.nutrition > .table4 > .color{
    color: hsl(14, 45%, 36%);
    font-weight: 900;
} 